#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout_inner
                =image_tag "callout_background.jpg"
                %h2 Organize
                %p -bit chillwave street art, shabby chic mumblecore poutine try-hard vegan bespoke. Crucifix schlitz seitan art party, iceland plaid pitchfork master cleanse banjo. Etsy coloring book listicle selvage asymmetrical forage thundercats. 


#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br 
        %button= link_to "Join Now", new_user_registration_path